<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salavat.NmapCheatSheet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NmapCheatSheet</name>
    <description>
        An app bringing you mostly using Nmap commands
    </description>
    <author email="salavat@asia.com" href="https://github.com/slavatulaev">
        Salavat Ulaev
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>

